# Configuration Lara Translate
LARA_ACCESS_KEY_ID="ta_access_key_id"
LARA_ACCESS_KEY_SECRET="ta_access_key_secret"

# Compte d'administration
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change-moi"
ADMIN_SESSION_SECRET="change-moi-aussi"

# Port du serveur web
PORT=8686
